/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
header{
  margin: 0;
  background-image: url("../img/background.png");
  background-color: orange;
  height: 50px;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding-right: 150px;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 20px;
  
                                                 
}
.Logo{
  width: 30px;
}

body{
    background-image: url('https://www.gifcen.com/wp-content/uploads/2022/03/naruto-gif-3.gif');
    background-size: cover;
    font-family: 'Ninja Naruto', sans-serif;
}
div{
  height: 750px;
}
section{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  background-color: orange;
  background-image: url("../img/background.png");
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
